.add-user {
  height: 250px;
  border: 1px solid orange;
  padding: 10px;
  padding-left: 50px;
}

.display-user {
  height: 250px;
  border: 1px solid orange;
  padding: 10px;
  margin-top: 10px;
  padding-left: 50px;
}

.add-user-input {
  width: 250px;
  height: 35px;
  display: block;
}

.add-user-btn {
  width: 250px;
  height: 35px;
  display: block;
  margin-top: 20px;
}
